<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>firefly-工单管理系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet"  th:href="@{${#httpServletRequest.getScheme()} + '://'+${#httpServletRequest.getServerName()} + ':' +${#request.getServerPort()}+${#request.getContextPath()}+'/css/font.css'}">
    <link rel="stylesheet"  th:href="@{${#httpServletRequest.getScheme()} + '://'+${#httpServletRequest.getServerName()} + ':' +${#request.getServerPort()}+${#request.getContextPath()}+'/css/xadmin.css'}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{${#httpServletRequest.getScheme()} + '://'+${#httpServletRequest.getServerName()} + ':' +${#request.getServerPort()}+${#request.getContextPath()}+'/lib/layui/layui.js'}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getScheme()} + '://'+${#httpServletRequest.getServerName()} + ':' +${#request.getServerPort()}+${#request.getContextPath()}+'/js/xadmin.js'}"></script>

</head>
<script type="text/javascript">
    	function init(){
    		if(window.screen.availWidth>950){
    			var divs = document.getElementsByName("layui-form-item");
    			for(var i = 0 ; i<divs.length ; i++){
    				divs[i].style.width='400px';//设置图片的高度和宽度
    			}
		  }
    	}
</script>
<body onload="init()">
    <div class="x-body" style="padding-top: 10px">
        <center>
		    <form class="layui-form" th:action="@{${#httpServletRequest.getScheme()} + '://'+${#httpServletRequest.getServerName()} + ':' +${#request.getServerPort()}+${#request.getContextPath()}+'/firefly/modifyPassword'}" method="post">
			  
			  	<div class="layui-form-item" name="layui-form-item" style="width:280px;;margin-top: 20px">
			   	 	<div style="font-family:verdana;color:red">用户名和密码输入错误，请重新输入！！</div>
			 	</div>
			 	<div class="layui-form-item" name="layui-form-item" style="width:280px;margin-top: 20px">
				    <label class="layui-form-label" style="margin-left: 0px;width:60px">用户名:</label>
				    <div class="layui-input-block">
				      <input type="text" name="userName" required  lay-verify="required" value="admin" placeholder="请输入标题" autocomplete="off" class="layui-input">
				  	</div>
				  </div>
				  <div class="layui-form-item" name="layui-form-item" style="width:280px">
				    <label class="layui-form-label" style="margin-left: 0px;width:60px">旧密码:</label>
				    <div class="layui-input-block">
				      <input type="password" name="oldPasswd" required  lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
				  	</div>
				  </div>
				  <div class="layui-form-item" name="layui-form-item" style="width:280px">
				    <label class="layui-form-label" style="margin-left: 0px;width:60px">新密码:</label>
				    <div class="layui-input-block">
				      <input type="password" name="newPasswd" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				  	</div>
				  </div>
				  <div class="layui-form-item">
				      <button class="layui-btn" lay-submit lay-filter="formDemo" style="margin-left: 0px">提交</button>
				  </div>
			</form>
		</center>
	</div>
</body>
</html>